:root {
  --red1: #ffdab9;
  --red2: #fbc4ab;
  --red3: #f8ad9d;
  --red4: #f4978e;
  --red5: #f08080;

  --green1: #edeec9;
  --green2: #dde7c7;
  --green3: #bfd8bd;
  --green4: #98c9a3;
  --green5: #77bfa3;

  --black: #000;

  --primary: var(--red1);
  --secondary: var(--red2);
  --tertiary: var(--red3);
  --quaternary: var(--red4);
  --quinary: var(--red5);

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.redtheme{
  --primary: var(--red1);
  --secondary: var(--red2);
  --tertiary: var(--red3);
  --quaternary: var(--red4);
  --quinary: var(--red5);
  --senary: var(--black);
};

.greentheme{
  --primary:var(--green1);
  --secondary: var(--green2);
  --tertiary: var(--green3);
  --quaternary: var(--green4);
  --quinary: var(--green5);
  --senary: var(--black);
}

.header{
  height: 100px;
  background-color: var(--primary);
  border-radius: 24px;
  align-items: center;
}

#changetheme{
  border-radius: 12px;
  border-color: var(--quinary);
  padding: 12px;
}